<h1>Menu Horizontal</h1>
<!-- <ax-menu2 [items]='menuItems'></ax-menu2> -->

<ax-menu [items]='menuItems' dir="ltr" ></ax-menu>


<!-- <h1>Menu Vertical</h1>
    <ax-menu [items]='menuItems' direction="vertical"></ax-menu>

    <br>
    <br>
    <br>
<div class="ax primary">
  Primary background & contrasting color
</div>
<div class="ax bg-primary">
    Primary background
</div>
<div class="ax text-primary">
    Primary color
</div> -->

<!-- <h1>Context Menu</h1>
 <ax-context-menu [items]='contextItems' width="400" ></ax-context-menu>




<div style="width: 600px;height: 600px;background-color: #eee;" id="div" axContextMenu [contextMenuItems]="contextItems">

</div> -->