<ax-page>
  <ax-page-content>
    <div style="padding: 1rem;">

      <div style="width: 300px">

        <ax-form-group size="sm">
          <ax-label >Label</ax-label>
          <ax-text-box  dir="ltr">
          </ax-text-box>
          <ax-button >1</ax-button>
        </ax-form-group>
        <ax-form-group>
          <ax-label>Password Box</ax-label>
          <ax-password-box dir="ltr" [allowClear]="true">
          </ax-password-box>
      </ax-form-group>

      </div>
      <div style="display:flex; margin-top: 10px;">
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-primary-color)">primary</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-primary-light-color)">primary light</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-primary-dark-color)">primary dark</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-primary-trans-dark-color)">primary trans dark</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-primary-trans-light-color)">primary trans light</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-primary-fore-color)">primary fore</div>
      </div>
      <div style="display:flex; margin-top: 10px;">
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-secondary-color)">secondary</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-secondary-light-color)">secondary light</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-secondary-dark-color)">secondary dark</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-secondary-trans-dark-color)">secondary trans dark</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-secondary-trans-light-color)">secondary trans light</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-secondary-fore-color)">secondary fore</div>
      </div>
      <div style="display:flex; margin-top: 10px;">
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-success-color)">success</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-success-light-color)">success light</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-success-dark-color)">success dark</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-success-trans-dark-color)">success trans dark</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-success-trans-light-color)">success trans light</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-success-fore-color)">success fore</div>
      </div>
      <div style="display:flex; margin-top: 10px;">
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-warning-color)">warning</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-warning-light-color)">warning light</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-warning-dark-color)">warning dark</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-warning-trans-dark-color)">warning trans dark</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-warning-trans-light-color)">warning trans light</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-warning-fore-color)">warning fore</div>
      </div>
      <div style="display:flex; margin-top: 10px;">
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-danger-color)">danger</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-danger-light-color)">danger light</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-danger-dark-color)">danger dark</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-danger-trans-dark-color)">danger trans dark</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-danger-trans-light-color)">danger trans light</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-danger-fore-color)">danger fore</div>
      </div>
      <div style="display:flex; margin-top: 10px;">
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-info-color)">info</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-info-light-color)">info light</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-info-dark-color)">info dark</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-info-trans-dark-color)">info trans dark</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-info-trans-light-color)">info trans light</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-info-fore-color)">info fore</div>
      </div>
      <div style="display:flex; margin-top: 10px;">
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-light-color)">light</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-light-light-color)">light light</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-light-dark-color)">light dark</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-light-trans-dark-color)">light trans dark</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-light-trans-light-color)">light trans light</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-light-fore-color)">light fore</div>
      </div>
      <div style="display:flex; margin-top: 10px;">
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-gray-color)">gray</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-gray-light-color)">gray light</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-gray-dark-color)">gray dark</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-gray-trans-dark-color)">gray trans dark</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-gray-trans-light-color)">gray trans light</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-gray-fore-color)">gray fore</div>
      </div>
      <div style="display:flex; margin-top: 10px;">
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-dark-color)">dark</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-dark-light-color)">dark light</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-dark-dark-color)">dark dark</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-dark-trans-dark-color)">dark trans dark</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-dark-trans-light-color)">dark trans light</div>
        <div style="width:150px;height:150px; margin-inline-start:5px;background-color: var(--ax-dark-fore-color)">dark fore</div>
      </div>
    </div>
    <div>
      <ax-button  (click)="_handleShowDialog()" type="info">Show Dialog</ax-button>
    </div>
  </ax-page-content>
</ax-page>

