.widget-body
{
    display: flex;
    flex-direction: column;
    padding: calc(var(--size) / 1.5);
    align-items: flex-start;
    justify-content: space-around;
    height: 100%;
    .title
    {
        font-size: var(--size);
        margin: 0 0 calc(var(--size)) 0;
    }
    .big-count {
        font-size: calc( var(--size) * 4);
        line-height: calc(var(--size) * 2);
        margin: calc(var(--size) / 2) 0 calc(var(--size)) 0;
        font-weight: 300;
    }
    .footer
    {
        font-size: calc( var(--size) );
    }
}